body { 
  padding-top: 50px; 
}

#topbar {
  background-color: #0e8466;
  border-bottom: 1px solid black;
}

.navbar-default .navbar-brand{
  color: white;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #0e8466;
  background-color: white;
}

.navbar-default .navbar-right {
  padding-right: 20px;
}

#top-bgimg {
  position: absolute;
}

#left-topimg {
  /*border: 2px solid white;*/
  height: auto;
}

#dan-img {
  /*margin-top: 10%;*/
  border: 5px solid white;
  border-radius: 100%;
  margin-top: 7%
}

@media only screen and (max-width: 768px) {
  #dan-img {
    height: 100px;
    width: 100px;
  }
}