* { /*box sizing reset*/
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
	-o-box-sizing: border-box;
  box-sizing: border-box;
}

a:focus, a:visited { /*don't get all special once a link is clicked*/
  outline: none;
  text-decoration: none;
}

body { /*bgimage clouds, make fixed and cover!; font Sarala unless otherwise stated*/
	background: url("../images/bgLarge.jpg") no-repeat center;
  background-attachment: fixed;
	background-size: cover;
	padding-top: 60px;
	font-family: 'Sarala', sans-serif;
}

.row { /*all rows will be 100% width*/
	width: 100%;
}
	
.container-fluid { /*padding and margin reset*/
	margin: 0;
	padding: 0;
}

#mainContent { /*all main content will have a white background unless stated otherwise*/
	background-color: white;
}




/*****************Start Header****************/
#topbar { /*Top Navbar*/
	height: 60px;
	border: none;
  background: rgba(54,77,127,0);
	-webkit-transition: all 0.6s ease-out;
	-moz-transition: all 0.6s ease-out;
	-o-transition: all 0.6s ease-out;
	-ms-transition: all 0.6s ease-out;
	transition: all 0.6s ease-out;
}

#topbar.scrolled { /*navbar color after scrolled*/
    background-color: rgba(0, 86, 145, .8);
}

#logo { /*PJ Logo*/
  width: 137px;
  height: 55px;
  background: url('../images/PJLogo2Nav.png') no-repeat;
  margin: 0;
}

#name { /*Navbar Name*/
	display: inline-block;
  margin: 20px 0 20px 270px;
  color: white;
  font-family: 'Taviraj', serif;
  font-size: 45px;
  font-weight: bold;
  line-height: .50;
  text-shadow: 1px 1px 1px #222;
}

.navbar-default .navbar-nav > li > a { /*Navbar Links*/
	width: 80px;
	height: 60px;
	padding: 20px 10px;
  color: white;
  font-size: 16px;
  text-shadow: 1px 1px 1px #222;
  transition: all .2s;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus { /*Navbar Link Hover*/
  border-bottom: 4px solid white;
	color: white;
}
/*****************End Header******************/




/*****************Start Pic and Blurb*****************/
#top-content { /*transparent top window with pic and blurb*/
	min-height: 470px;
	padding: 0;
}

#left-topimg { /*parent div for profile pic*/
	position: relative;
}

#dan-img { /*profile pic*/
	position: absolute;
	top: 90px;
	left: 150px;
	width: 300px;
	height: 300px;
  border: 5px solid white;
  border-radius: 100%;
	box-shadow: 1px 1px 20px darkslategray;
}

#topblurb > h2 { /*I am*/
	position: absolute;
	top: 180px;
	left: 150px;
  color: black;
  font-size: 5em;
	font-style: italic;
  font-weight: 700;
  text-shadow: 2px 2px 2px white;
}

#topblurb > p { /*Skills descriptor loop*/
	position: absolute;
	top: 265px;
	left: 220px;
  color: white;
  font-size: 4em;
  font-weight: 700;
	line-height: 1;
  text-shadow: 1px 1px 5px #222;
}
/*****************End Pic and Blurb*****************/




/*****************Start About Section*****************/
.sep { /*hr with shadow between sections*/
	width: 100%;
	height: 20px;
	border: none;
	margin: 0;
	box-shadow: inset 0 12px 12px -10px lightgray;
}

.title { /*All section titles*/
	font-size: 40px;
	font-weight: 700;
	text-shadow: 1px 1px 3px gray;
}

.title-hr { /*All section HRs below title*/
	height: 1px;
	background-color: black;
}

.abtsxn { /*all main content sections*/
	position: relative;
  color: black;
}



/*****************Start At A Glance Section*****************/
#atAGlance { /*At a glance section*/
	min-height: 350px;
}

#aagContent { /*AAG written content*/
	padding: 15px 40px 0px 35px;
	font-size: 20px;
	font-style: italic;
}

#skillist { /*Skill chart*/
	min-height: 480px;
	background: url(../images/Skills.svg) top center no-repeat;
	background-size: 800px auto;
	margin: 20px 0 10px;
}
/*****************End At A Glance Section*****************/




/*****************Start Portfolio Section*****************/
#portSep { /*seperation HR after AAg*/
	height: 1px;
	background-color: lightgray;
	box-shadow: none;
}

#portfolio { /*Portfolio section*/
	min-height: 500px;
}

#port-title { /*Title for portfolio section*/
	margin-top: 15px;
}

#port-hr { /*Portfolio title HR*/
	float: right;
	width: 300px;
	background: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,1));
  background: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,1)); 
  background: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,1)); 
  background: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,1));  
	margin: 0 15px 10px 0;
}

#port-coverflow { /*Portfolio coverflow*/
	margin: 50px 0 0 0;
}

#port-blurb { /*Coverflow thumb description*/
	padding: 20px 0 0 30px;
	font-size: 20px;
	font-weight: 400;
	line-height: 1.3;
}

#portPreview { /*Title for coverflow thumb*/
	text-align: center;
	text-decoration: underline;
}

#portWords { /*Blurb about specific coverflow thumb*/
	margin-top: 15px;
}
/*****************End Portfolio Section*****************/




/*****************Start Work History Section*****************/
#workHistory { /*Work history section & background pic*/
	position: relative;
	width: 100%;
	height: 500px;
	background: url("../images/datJetAss.jpg") center no-repeat;
	background-size: cover;
	margin: 0;
	padding: 0;
	box-shadow: 0 -12px 12px -10px lightgray;
}

#workOvrly { /*White overlay for work history pic*/
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 500px;
	background-color: rgba(255,255,255,.73);
	background-size: contain;
}

#wrkhis-title { /*Title for work history section*/
	margin-top: 20px;
}

#work-hr { /*Work history title HR*/
	float: left;
	width: 450px;
	background: -webkit-linear-gradient(left, rgba(0,0,0,.75), rgba(0,0,0,0)); 
  background: -moz-linear-gradient(left, rgba(0,0,0,.75), rgba(0,0,0,0)); 
  background: -ms-linear-gradient(left, rgba(0,0,0,.75), rgba(0,0,0,0)); 
  background: -o-linear-gradient(left, rgba(0,0,0,.75), rgba(0,0,0,0));
	margin: 0 0 0 15px;
}

#workDates { /*Dates for work history*/
	margin: 10px 0 10px;
	font-size: 14px;
}

#wrkhis-content #p1 { /*Work history inject*/
	clear: left;
	font-size: 20px;
	margin: 0;
}

#readMore { /*Work history expand sentence*/
	margin-top: 5px;
	font-size: 14px;
}

#wrkExpd { /*Work history expand 'here'*/
	color: rgba(0, 86, 145, 1);
	text-decoration: underline;
	text-decoration-color: rgba(0, 86, 145, 1);
	cursor: pointer;
}

#wrkhis-pic { /*Emblem in work history section*/
	position: absolute;
	top: 70px;
	right: 0;
	width: 300px;
	height: 300px;
	background-image: url("../images/300pxUSMCemblem.png");
	background-size: contain;
}

#wrkhis-buttons { /*Work history selection button parent*/
	position: absolute;
	left: 0;
	bottom: 10px;
}

#wrkHrnt { /*Work history button hornet*/
	margin: 0 0 10px;
}

span.historyBtn { /*Work history buttons with hornet*/
	margin: 0px 70px;
}

span.historyBtn span { /*Work history buttons without hornet*/
	color: rgba(0, 86, 145, 1);
	font-size: 20px;
	text-decoration: underline;
	text-decoration-color: rgba(0, 86, 145, 1);
	transition: all .2s;
}

.historyBtn:hover { /*Hover effect for work history buttons*/
	text-shadow: 1px 1px 5px gray;
	cursor: pointer;
}

#doodyWindow { /*Work history expanded window*/
	width: 100%;
	min-height: 200px;
	padding: 50px 5%;
	transition: all .5s;
}

#doodyContent { /*Work history bullet points*/
	font-size: 18px;
}

#doodyWindow p { /*Expanded work history section 'less' blurb*/
	margin-top: 5px;
	font-size: 14px;
}

#wrkCls { /*'Less' in expanded work history section*/
	color: darkblue;
	text-decoration: underline;
	text-decoration-color: darkblue;
	cursor: pointer;
}
/*****************End Work History Section*****************/




/*****************Start Education Section*****************/
#education { /*Education section*/
	min-height: 700px;
}

#ed-hr { /*Education title HR*/
	float: right;
	width: 300px;
	background: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,1));
  background: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,1)); 
  background: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,1)); 
  background: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,1));  
	margin: 0 15px 0 0;
}

#ed-content { /*Education content*/
	margin: 40px 0 40px 0;
}

.school { /*Individual school content*/
	margin: 20px;
	padding: 0;
	font-size: 18px;
}

.schoolHr { /*HR between schools*/
	width: 100%;
	height: 1px;
	border: none;
	background: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.75), rgba(0,0,0,0)); 
  background: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.75), rgba(0,0,0,0)); 
  background: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.75), rgba(0,0,0,0)); 
  background: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.75), rgba(0,0,0,0));
	padding: 0;
	text-align: center;
}

.schoolHr:after { /*School HR hornets*/
	display: inline-block;
	position: relative;
	top: -17px;
	content: url(../images/hornet.png);
	background-color: white;
	padding: 0 0 0 5px;
}

.schoolLogo { /*Logo for schools*/
	display: inline-block;
	vertical-align: top;
	width: 200px;
	height: 200px;
	border: 1px solid rgba(0, 0, 0, 0);
	margin-bottom: 15px;
}

.schoolLogo:hover, .schoolLogo:focus { /*Hover effect for school logo*/
	border: 1px solid black;
}

.classInfo { /*Content display for school info*/
	display: inline-block;
	vertical-align: top;
	width: 550px;
	margin: 0 0 0 50px;
}

.classInfo a { /*All links in the classInfo section*/
	color: rgba(0, 86, 145, 1);
	text-decoration-color: rgba(0, 86, 145, 1);
}

.classInfo > p > a { /*School Names*/
	font-size: 24px;
	text-decoration: underline;
}

.classInfo ul { /*Class information list*/
	margin-left: 20px;
	padding: 0;
}
/*****************End Education Section*****************/




/*****************Start Contact Window Section*****************/
#contactWindow { /*Transparent contact window*/
	width: 100%;
	min-height: 200px;
	background-color: rgba(0,0,0,0) !important;
	padding: 0;
}

#contact-buttons { /*Contact button parent*/
	width: 100%;
  margin-top: 75px;
}

.buttons { /*All contact buttons*/
	display: inline-block;
	vertical-align: top;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
  text-transform: none;
  overflow: hidden;
}

.buttons #e-mail { /*Email contact button*/
  display: block;
	width: 50px;
	height: 50px;
  background-color: #BF2E25;
  padding-top: 10px;
	color: white;
  text-align: center;
  text-decoration: none;
	transition: all .5s;
}

#e-mail:hover { /*Email button hover effect*/
	border-radius: 50%;
  background-color: #df4f47;
}

.buttons #facebook { /*Facebook contact button*/
  display: block;
  width: 50px;
	height: 50px;
  background-color: #3b5998;
  margin-left: 20px;
  padding-top: 11px;
	padding-left: 6px;
	color: white;
  text-align: center;
  text-decoration: none;
	transition: all .5s;
}

#facebook:hover { /*Facebook contact button hover effect*/
	border-radius: 50%;
  background-color: #5d7bba;
}

.buttons #linkedin { /*Linkedin contact button*/
  display: block;
  width: 50px;
  height: 50px;
  background-color: #0077b5;
  margin-left: 20px;
  padding-top: 10px;
	color: white;
  text-align: center;
  text-decoration: none;
	transition: all .5s;
}

#linkedin:hover { /*Linked in contact button hover effect*/
	border-radius: 50%;
  background-color: #2299d7;
}

#github { /*Github contact button*/
  display: block;
  width: 50px;
  height: 50px;
  background-color: #800080;
  margin-left: 20px;
  padding-top: 4px;
	color: white;
  text-align: center;
  text-decoration: none;
	transition: all .5s;
}

#github:hover { /*Github contact button hover effect*/
	border-radius: 50%;
  background-color: #a222a2;
}

#codepen { /*Codepen contact button*/
  display: block;
  width: 50px;
  height: 50px;
  background-color: #000000;
  margin-left: 20px;
  padding-top: 4px;
	color: white;
  text-align: center;
  text-decoration: none;
	transition: all .5s;
}

#codepen:hover { /*Codepen contact button hover effect*/
	border-radius: 50%;
  background-color: #333333;
}
/*****************End Contact Window Section*****************/
/*****************End About Section*****************/




/*****************Start Footer*****************/
#footer { /*Footer section*/
  height: auto;
	border: none;
  background-color: rgba(0, 86, 145, .8);
  margin: 0;
  color: white;
}

#inputs { /*Footer contact forms parent*/
	padding: 20px 0 0 0;
	color: black;
	font-weight: 400;
}

.bottomInput { /*Individual footer forms*/
	width: 70%;
	border-radius: 5px;
	margin-bottom:10px;
}

#submitButton { /*Submit button*/
	border: none;
	border-radius: 5px;
	background-color: lightgray;
	transition: all .2s;
}

#submitButton:hover, #submitButton:focus { /*Submit button hover effect*/
	box-shadow: 0px 0px 10px lightblue;
}

#contact { /*Contact me blurb parent*/
  padding: 15px;
  font-size: 18px;
  font-weight: normal;
}

#contact span { /*Topics blurb*/
  margin-top: 5px;
	font-size: 16px;
}

#contact li { /*List of topics for contact me blurb*/
  font-size: .9em;
	line-height: 1.6;
}

#contact li:nth-child(1) { /*First contact topic*/
  margin-top: 10px;
}

.contactInfo { /*Contact info parent*/
	margin: 15px 0 0 0;
}

.contactInfo ul { /*Contact info title*/
	font-size: 25px;
}

.contactInfo li { /*Contact information listed*/
	margin: 10px 0 0 0;
	font-size: 15px;
	font-weight: 400;
	list-style-type: none;
}

.contactInfo a { /*Links within the contact info section*/
		color: white;
		text-decoration: underline;
		text-decoration-color: white;
	}
/*****************End Footer*****************/







/************************Big Computers***********************/
@media only screen and (min-width: 1200px){
}







/************************Small Computers***********************/
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	/*****************Start Header*****************/
	body { /*Medium bg pic and adjustments*/
		background: url("../images/bgMedium.jpg") no-repeat center;
		background-attachment: fixed;
		background-size: cover;
		padding-top: 60px;
	}
	#name { /*Navbar name*/
		margin: 20px 0 20px 15px;
		font-size: 43px;
	}
	/*****************End Header*****************/

	
	
	
	/*****************Start About Section*****************/
	/*****************Start At A Glance Section*****************/
	#atAGlance { /*At a glance section*/
		padding: 0;
	}
	
	#aagContent { /*AAG written content*/
		padding: 15px 0px 0px 35px;
	}
	
	#skillist { /*Skill chart*/
		background-size: 750px auto;
	}
	/*****************End At A Glance Section*****************/
	
	
	
	
	/*****************Start Portfolio Section*****************/
	#port-blurb { /*Coverflow thumb description*/
		padding: 10px 0 15px 30px;
	}
	/*****************End Portfolio Section*****************/
	
	
	
	
	/*****************Start Work History Section*****************/
	#workDates { /*Dates for work history*/
		margin: 10px 0 5px;
	}
	
	span.historyBtn { /*Work history buttons with hornet*/
		margin: 0px 50px;
	}
	
	#doodyWindow { /*Work history expanded window*/
		min-height: 200px;
		padding: 50px 5%;
		font-size: 18px;
		transition: all .5s;
	}
	/*****************End Work History Section*****************/


	
	
	/*****************Start Education Section*****************/
	#ed-content { /*Education content*/
		margin: 40px 0 40px 0;
	}
	
	.classInfo > p > a { /*School Names*/
		position: relative;
		left: -95px
	}
	/*****************End Education Section*****************/
	
	
	
	
	/*****************Start Footer*****************/
	.bottomInput { /*Individual footer forms*/
		width: 90%;
	}
	/*****************End Footer*****************/
}







/************************Bigger Tablet************************/
@media only screen and (min-width: 768px) and (max-width: 991px) {	
  /*****************Start Header*****************/
	body { /*Medium bg pic and adjustments*/
		background: url("../images/bgMedium.jpg") no-repeat center;
		background-attachment: fixed;
		background-size: cover;
		padding-top: 60px;
	}
	
	#name { /*Navbar Name*/
		margin: 22px 0 20px 100px;
		font-size: 35px;
	}
	
	/******Make menu toggle active******/
	.navbar-header { /*Navbar*/
		float: none;
	}
	
	.navbar-left,.navbar-right { /*Override left and right float values*/
		float: none !important;
	}
	
	.navbar-toggle { /*Toggle Menu*/
		display: block;
	}
	
	.navbar-collapse { /*Defines collapsed menu*/
		border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	}
	
	.navbar-fixed-top { /*Class to fix navbar to the top*/
		top: 0;
		border-width: 0 0 1px;
	}
	
	.navbar-collapse.collapse { /*Makes menu toggle to collapse as a default*/
		display: none!important;
	}
	
	.navbar-nav { /*No float for menu toggle*/
		float: none!important;
		margin-top: 7.5px;
	}
	
	.navbar-nav > li { /*No float for links in menu*/
		float: none;
	}
	
	.navbar-nav > li > a { /*Defines look of links in toggle menu*/
		width: 100%;
		height: 50px;
		padding-top: 10px;
		padding-bottom: 10px;
		font-size: 15px;
	}
	
	.collapse.in{ /*When menu toggle recollapses, display block*/
		display:block !important;
	}
	
	#menu-toggle { /*Toggle menu*/
		margin: 12px 10px 0 0;
	}
	
	.icon-bar { /*Look of bars in toggle menu icon*/
		border: 1px solid white;
	}
	
	.navbar-default .navbar-nav > li > a { /*Navbar Links*/
		width: 98%;
		height: 50px;
		background-color: rgba(0, 86, 145, 1);
		padding-top: 15px;
		font-size: 15px;
	}

	.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus { /*Navbar Link Hover*/
		border-bottom: 3px solid white;
	}
	
	.divider { /*Defines look of divider lines in toggled open menu*/
		width: 98%;
		height: .5px;
		border: .5px solid white;
	}
	
	#topbar.scrolled { /*Navbar color after scrolled*/
		background-color: rgba(0, 86, 145, 1);
	}
	/*****************End Header*****************/

	
	
	
	/*****************Start Pic and Blurb*****************/
	#top-content { /*Transparent top window with pic and blurb*/
		min-height: 430px;
	}

	#dan-img { /*Profile pic*/
		top: 60px;
		left: 265px;
		width: 200px;
		height: 200px;
		border: 3px solid white;
	}

	#topblurb > h2 { /*I am*/
		top: 235px;
		left: 230px;
		font-size: 60px;
	}

	#topblurb > p { /*Skills descriptor loop*/
		top: 310px;
		left: 300px;
		font-size: 50px;
	}
	/*****************End Profile Pic and Blurb*****************/

	
	
	
	/*****************Start About Section*****************/
	.title { /*All section titles*/
		font-size: 30px;
	}

	/*****************Start At A Glance Section*****************/
	#atAGlance { /*At a glance section*/
		padding: 0;
	}

	#aagContent {/*AAG written content*/
		padding: 10px 5px 0 35px;
		font-size: 16px;
	}

	#skillist { /*Skill chart*/
		background: url(../images/Skills.svg) top center no-repeat;
		background-size: 650px auto;
		margin-bottom: -60px;
	}
	/*****************End At A Glance Section*****************/

	
	

	/*****************Start Portfolio Section*****************/
	#port-hr { /*Portfolio title HR*/
		width: 230px;
	}
	
	#port-coverflow { /*Portfolio coverflow*/
		margin: 20px 0 0 0;
	}

	#port-blurb { /*Coverflow thumb description*/
		padding: 0px 10px 10px 30px;
		font-size: 16px;
		line-height: 1.2;
	}
	/*****************End Portfolio Section*****************/


	
	
	/*****************Start Work History Section*****************/
	#workHistory { /*Work history section & background pic*/
		height: 420px;
	}
	
	#wrkhis-title { /*Title for work history section*/
		margin-top: 15px;
	}

	#work-hr { /*Work history title HR*/
		width: 300px;
	}

	#workDates { /*Dates for work history*/
		font-size: 12px;
		margin-bottom: 5px;
	}

	#wrkhis-content #p1 { /*Work history inject*/
		font-size: 16px;
	}
	
	#readMore { /*Work history expand sentence*/
		margin-top: 5px;
		font-size: 12px;
	}

	#wrkhis-pic { /*Emblem in work history section*/
		top: 50px;
		right: 20px;
		width: 200px;
		height: 200px;
	}
	
	span.historyBtn { /*Work history buttons with hornet*/
		margin: 0px 30px;
	}

	span.historyBtn span { /*Work history buttons without hornet*/
		font-size: 16px;
	}

	#doodyContent { /*Work history bullet points*/
		font-size: 16px;
	}

	#doodyWindow p { /*Expanded work history section 'less' blurb*/
		font-size: 12px;
	}
	/*****************End Work History Section*****************/

	
	

	/*****************Start Education Section*****************/
	#ed-hr { /*Education title HR*/
		width: 250px;
	}

	#ed-content { /*Education content*/
		margin: 0;
	}

	.school { /*Individual school content*/
		margin: 20px 0 20px 0;
		font-size: 16px;
	}

	.schoolLogo { /*Logo for schools*/
		width: 175px;
		height: 175px;
	}

	.classInfo { /*Content display for school info*/
		margin: 0 0 0 10px;
		width: 450px;
	}
	
	.classInfo > p > a { /*School Names*/
		position: relative;
		left: -65px
	}
	/*****************End Education Section*****************/
	/*****************End About Section*****************/

	
	
	
	/*****************Start Footer*****************/
	#footer { /*Footer section*/
		background-color: rgba(0, 86, 145, 1);
	}
	
	#inputs { /*Footer contact forms parent*/
		padding: 10px 0 0 10px;
		font-size: 12px;
	}

	.bottomInput { /*Individual footer forms*/
		width: 90%;
	}
	
	#messageEnter { /*Message form*/
		height: 100px
	}

	#contact { /*Contact me blurb parent*/
		padding: 10px;
		font-size: 16px;
		line-height: 1.3;
	}

	#contact span { /*Topics blurb*/
		font-size: 14px;
	}

	#contact li { /*List of topics for contact me blurb*/
		font-size: .9em;
		line-height: 1.4;
	}

	.contactInfo li { /*Contact information listed*/
		display: inline-block;
		margin: 0 30px 15px;
		font-size: 14px;
	}
	
	.contactInfo a li { /*Links within the contact info section*/
		text-decoration: underline;
		text-decoration-color: white;
	}
	
	#contactHr { /*Footer HR*/
		width: 90%;
		height: 1px;
		background: -webkit-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,.75), rgba(255,255,255,0)); 
		background: -moz-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,.75), rgba(255,255,255,0));
		background: -ms-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,.75), rgba(255,255,255,0));
		background: -o-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,.75), rgba(255,255,255,0));
	}
	
	#contactHr:after { /*Footer HR hornet*/
		content: url(../images/hornetWt.png);
		display: inline-block;
		position: relative;
		top: -17px;
		padding: 0 0 0 5px;
		background: rgba(0, 86, 145, 1);
	}
	/*****************End Footer*****************/
}







/*********************Tablet/Phablet*********************/
@media only screen and (min-width: 550px) and (max-width: 767px) {
	body { /*XS bg image, now scroll for use with JS!*/
		width: 100%;
		height: auto;
		background: url("../images/bgXS.jpg") no-repeat;
		background-position: left top;
		background-attachment: scroll;
		background-size: 767px 1000px;
		padding-top: 60px;
	}

	
	
	
  /*****************Start Header*****************/
	#topbar { /*Top Navbar*/
		height: 55px;
	}
	
	#topbar.scrolled { /*navbar color after scrolled*/
    background-color: rgba(0, 86, 145, 1);
}

	#name { /*Navbar Name*/
		margin: 20px 0 20px 35%;
		font-size: 30px;
	}
	
	#menu-toggle { /*Menu toggle icon*/
		margin: 10px 15px 0 0;
	}
	
	.icon-bar { /*Bars inside of menu toggle icon*/
		border: 1px solid white;
	}
	
	.navbar-default .navbar-nav > li > a { /*Navbar Links*/
		width: 100%;
		height: 50px;
		background-color: rgba(0, 86, 145, 1);
		padding-top: 15px;
		font-size: 15px;
	}
	
	.divider { /*Defines divider lines in menu toggled open*/
		height: .5px;
		border: .5px solid white;
	}
	/*****************End Header*****************/

	
	
	
	/*****************Start Pic and Blurb*****************/
	#top-content { /*transparent top window with pic and blurb*/
		min-height: 410px;
	}

	#dan-img { /*profile pic*/
		top: 60px;
		left: 36%;
		width: 200px;
		height: 200px;
		border: 3px solid white;
	}

	#topblurb > h2 { /*I am*/
		top: 235px;
		left: 30%;
		font-size: 50px;
	}

	#topblurb > p { /*Skills descriptor loop*/
		top: 300px;
		left: 40%;
		font-size: 40px;
	}
	/*****************End Profile Pic and Blurb*****************/

	
	
	
	/*****************Start About Section*****************/
	.title { /*All section titles*/
		font-size: 4.1vw;
		text-shadow: .1px .1px 5px gray;
	}

	
	/*****************Start At A Glance Section*****************/
	#atAGlance { /*At a glance section*/
		padding: 0;
	}

	#aagContent { /*AAG written content*/
		padding: 5px 0 0 35px;
		font-size: 16px;
	}

	#skillist { /*Skill chart*/
		width: 95%;
		height: auto;
		background: url(../images/Skills.svg) center no-repeat;
		background-size: contain;
		margin: -4% 0 -4% 30px;
	}
	/*****************End At A Glance Section*****************/

	
	

	/*****************Start Portfolio Section*****************/
	#port-hr { /*Portfolio title HR*/
		width: 230px;
	}
	
	#port-coverflow { /*Portfolio coverflow*/
		width: 100%;
		margin: 10px 0 0 15px;
	}

	#port-blurb { /*Blurb about specific coverflow thumb*/
		padding: 0 0 15px 30px;
		font-weight: 400;
		line-height: 1.3;
	}
	
	#portPreview { /*Title for coverflow thumb*/
		font-size: 3.5vw;
	}

	#portWords { /*Blurb about specific coverflow thumb*/
		margin-top: 5px;
		font-size: 2.0vw;
	}
	/*****************End Portfolio Section*****************/

	
	

	/*****************Start Work History Section*****************/
	#workHistory { /*Work history section & background pic*/
		height: 370px;
	}
	
	#wrkhis-title { /*Title for work history section*/
		margin-top: 15px;
	}

	#work-hr { /*Work history title HR*/
		width: 300px;
	}

	#workDates { /*Dates for work history*/
		font-size: 1.7vw;
	}
	
	#wrkhis-content { /*Job description*/
		width: 73%;
	}

	#wrkhis-content #p1 { /*Work history inject*/
		margin-top: -5px;
		font-size: 2.0vw;
	}
	
	#readMore { /*Work history expand sentence*/
		margin-top: 5px;
		font-size: 1.7vw;
	}

	#wrkhis-pic { /*Emblem in work history section*/
		top: 60px;
		right: 0px;
		width: 150px;
		height: 150px;
	}
	
	#wrkhis-buttons { /*Work history selection button parent*/
		bottom: 0px;
	}
	
	span.historyBtn { /*Work history buttons with hornet*/
		margin: 0px 20px;
	}

	span.historyBtn span { /*Work history buttons without hornet*/
		font-size: 2.0vw;
	}
	
	#doodyWindow { /*Work history expanded window*/
		padding: 30px 5% 30px 2%;
		transition: all .5s;
	}
	
	#doodyContent { /*Work history bullet points*/
		font-size: 2.0vw;
	}
	
	#doodyWindow p { /*Expanded work history section 'less' blurb*/
		margin-top: 0;
		font-size: 1.7vw;
	}
	/*****************End Work History Section*****************/


	
	
	/*****************Start Education Section*****************/
	#ed-hr { /*Education title HR*/
		width: 230px;
	}

	#ed-content { /*Education content*/
		margin: 0;
	}

	.school { /*Individual school content*/
		margin: 10px 0 10px 0;
	}

	.schoolLogo { /*Logo for schools*/
		width: 150px;
		height: 150px;
	}

	.classInfo > p > a { /*School Names*/
		font-size: 3.0vw;
	}
	
	.classInfo { /*Content display for school info*/
		margin: 0 -50px 0 15px;
		font-size: 2.0vw;
		max-width: 360px;
	}
	/*****************End Education Section*****************/
	/*****************End About Section*****************/
	
	
	
	
	/*****************Start Contact Window Section*****************/
	#contactWindow { /*Transparent contact window*/
		min-height: 150px;
	}

	#contact-buttons { /*Contact button parent*/
		margin-top: 60px;
		margin-left: 15px;
	}

	.buttons #e-mail { /*Email contact button*/
		width: 35px;
		height: 35px;
		padding-top: 3px;
	}

	.buttons #facebook { /*Facebook contact button*/
		width: 35px;
		height: 35px;
		margin-left: 10px;
		padding-top: 11px;
		padding-left: 6px;
	}

	.buttons #linkedin { /*Linkedin contact button*/
		width: 35px;
		height: 35px;
		margin-left: 10px;
		padding-top: 4px;
	}

	.buttons #github { /*Github contact button*/
		width: 35px;
		height: 35px;
		margin-left: 10px;
		padding-top: 4px;
	}

	.buttons #codepen { /*Codepen contact button*/
		width: 35px;
		height: 35px;
		margin-left: 10px;
		padding-top: 4px;
	}
	/*****************End Contact Window Section*****************/

	
	
	
	/*****************Start Footer*****************/
	#footer { /*Footer section*/
		background-color: rgba(0, 86, 145, 1);
		padding: 0;
	}
	
	#inputs { /*Footer contact forms parent*/
		padding: 10px 0 0 20px;
		font-size: 1.7vw;
	}

	.bottomInput { /*Individual footer forms*/
		width: 90%;
	}
	
	#messageEnter { /*Footer message form*/
		height: 100px
	}

	#contact { /*Contact me blurb parent*/
		padding: 10px;
		font-size: 2.0vw;
		line-height: 1.3;
	}

	#contact span { /*Topics blurb*/
		font-size: 1.9vw;
	}

	#contact li { /*List of topics for contact me blurb*/
		font-size: .9em;
	}

	.contactInfo li { /*Contact information listed*/
		display: inline-block;
		margin: 0 8px 15px;
		font-size: 1.9vw;
	}
	
	.contactInfo a li { /*Links within the contact info section*/
		text-decoration: underline;
		text-decoration-color: white;
	}
	
	#contactHr { /*Footer contact HR*/
		width: 90%;
		height: 1px;
		background: -webkit-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,.75), rgba(255,255,255,0)); 
		background: -moz-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,.75), rgba(255,255,255,0));
		background: -ms-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,.75), rgba(255,255,255,0));
		background: -o-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,.75), rgba(255,255,255,0));
	}
	
	#contactHr:after { /*Footer HR hornet*/
		content: url(../images/hornetWt.png);
		display: inline-block;
		position: relative;
		top: -17px;
		padding: 0 0 0 5px;
		background-color: rgba(0, 86, 145, 1);
	}
	
	#copyright { /*Copyright info*/
		font-size: 1.8vw;
	}
	/*****************End Footer*****************/
}







/*********************SmartPhone*********************/
@media only screen and (max-width: 549px) {
	body { /*XS bg image, now scroll for use with JS!*/
		width: 100%;
		height: auto;
		background: url("../images/bgXS.jpg") no-repeat;
		background-position: left top;
		background-attachment: scroll;
		background-size: 550px 800px;
		padding-top: 60px;
	}
	
	
	
	
  /*****************Start Header*****************/
	#topbar { /*Top Navbar*/
		height: 55px;
	}
	
	#topbar.scrolled { /*navbar color after scrolled*/
    background-color: rgba(0, 86, 145, 1);
	}

	#name { /*Navbar Name*/
		margin: 20px 0 20px 23%;
		font-size: 7.0vw;
	}
	
	#menu-toggle { /*Menu toggle icon*/
		margin: 10px 15px 0 0;
	}
	
	.icon-bar { /*Bars inside of menu toggle icon*/
		border: 1px solid white;
	}
	
	.navbar-default .navbar-nav > li > a { /*Navbar Links*/
		width: 100%;
		height: 50px;
		background-color: rgba(0, 86, 145, 1);
		padding-top: 15px;
		font-size: 13px;
	}
	
	.divider { /*Defines divider lines in menu toggled open*/
		height: .5px;
		border: .5px solid white;
	}
	/*****************End Header*****************/

	
	
	
	/*****************Start Pic and Blurb*****************/
	#top-content { /*transparent top window with pic and blurb*/
		min-height: 320px;
	}

	#dan-img { /*profile pic*/
		top: 30px;
		width: 200px;
		height: 200px;
		border: 3px solid white;
	}

	#topblurb > h2 { /*I am*/
		position: absolute;
		top: 215px;
		left: 28%;
		font-size: 7.0vw;
	}

	#topblurb > p { /*Skills descriptor loop*/
		top: 263px;
		left: 38%;
		font-size: 6.1vw;
	}
	/*****************End Profile Pic and Blurb*****************/

	
	
	
	/*****************Start About Section*****************/
	.title { /*All section titles*/
		font-size: 20px;
		text-shadow: none;
	}
	
	/*****************Start At A Glance Section*****************/
	#atAGlance { /*At a glance section*/
		min-height: 250px;
		padding: 0 0 0 30px;
	}

	#aagContent { /*AAG written content*/
		margin: 0;
		padding: 0;
		font-size: 2.3vw;
		text-align: center;
	}

	#skillist { /*Skill chart*/
		width: 100%;
		height: auto;
		background: url(../images/Skills.svg) center no-repeat;
		background-size: contain;
		margin: -15% 0 -15% 0;
	}
	/*****************End At A Glance Section*****************/


	
	
	/*****************Start Portfolio Section*****************/
	#portfolio { /*Portfolio section*/
		min-height: 350px;
		padding-right: 0px;
	}
	
	#port-title { /*Title for portfolio section*/
		margin-top: 10px;
		padding-right: 0;
	}
	
	#port-hr { /*Portfolio title HR*/
		width: 140px;
		margin: 0 0 15px;
	}
	
	#port-coverflow { /*Portfolio coverflow*/
		width: 100%;
		margin: 0 15px 0;
		padding: 0;
	}

	#port-blurb { /*Coverflow thumb description*/
		padding: 0 0 10px 15px;
	}
	
	#portPreview { /*Title for coverflow thumb*/
		font-size: 14px;
	}
	
	#portWords { /*Blurb about specific coverflow thumb*/
		margin-top: 0;
		font-size: 2.3vw;
	}
	/*****************End Portfolio Section*****************/


	
	
	/*****************Start Work History Section*****************/
	#workHistory { /*Work history section & background pic*/
		height: 320px;
	}
	
	#wrkhis-title { /*Title for work history section*/
		margin-top: 10px;
	}

	#work-hr { /*Work history title HR*/
		width: 190px;
	}

	#workDates { /*Dates for work history*/
		margin: 5px 0 7px;
		font-size: 2.1vw;
	}

	#wrkhis-content #p1 { /*Work history inject*/
		margin-top: -5px;
		font-size: 2.5vw;
		line-height: 1.2;
	}
	
	#readMore { /*Work history expand sentence*/
		margin-top: 5px;
		font-size: 2.1vw;
	}

	#wrkhis-pic { /*Emblem in work history section*/
		top: 65px;
		right: 0px;
		width: 90px;
		height: 90px;
	}
	
	span.historyBtn { /*Work history buttons with hornet*/
		margin: 0 1% 0;
	}

	span.historyBtn span { /*Work history buttons without hornet*/
		font-size: 2.3vw;
	}
	
	#wrkHrnt { /*Work section hornet*/
		width: 15px;
		height: 15px;
		margin-bottom: 2px; 
	}
	
	#doodyWindow { /*Work history expanded window*/
		min-height: 100px;
		padding: 15px 5% 15px 2%;
		transition: all .5s;
	}
	
	#doodyContent { /*Work history bullet points*/
		font-size: 2.3vw;
	}
	
	#doodyWindow p { /*Expanded work history section 'less' blurb*/
		margin-top: 0;
		font-size: 2.1vw;
	}
	/*****************End Work History Section*****************/

	
	

	/*****************Start Education Section*****************/
	#ed-cont { /*Education section*/
		padding: 0 20px 0 0;	
	}
	
	#education { /*Education content parent*/
		min-height: 400px;
		margin: -5px 0 0 0;
	}
	
	#ed-title { /*Education section title*/
		margin-right: 0;
		padding: 0;
	}
	
	#ed-hr { /*Education title HR*/
		width: 150px;
		margin-right: 0;
		margin-bottom: 10px;
	}

	#ed-content { /*Education content*/
		margin: 0;
	}

	.school { /*Individual school content*/
		margin: 0;
		padding: 0;
		font-size: 16px;
	}

	.schoolLogo { /*Logo for schools*/
		width: 70px;
		height: 70px;
		margin-bottom: 10px;
	}

	.classInfo > p > a { /*School Names*/
		font-size: 3.0vw;
	}

	.classInfo { /*Content display for school info*/
		width: 80%;
		margin: 0 -50px 0 5px;
		font-size: 2.3vw;
	}
	
	.schoolHr { /*School info seperation HR*/
		margin: 10px;
	}
	
	.schoolHr:after {
		top: -7px;
		padding: 0 0 0 1px;
		content: url(../images/hornetSmall.png);
	}
	/*****************End Education Section*****************/
	/*****************End About Section*****************/
	
	
	
	
	/*****************Start Contact Window Section*****************/
	#contactWindow { /*Transparent contact window*/
		min-height: 120px;
	}

	#contact-buttons { /*Contact button parent*/
		margin-top: 43px;
		margin-left: 15px;
	}

	.buttons #e-mail { /*Email contact button*/
		width: 35px;
		height: 35px;
		padding-top: 3px;
	}

	.buttons #facebook { /*Facebook contact button*/
		width: 35px;
		height: 35px;
		margin-left: 10px;
		padding-top: 11px;
		padding-left: 6px;
	}

	.buttons #linkedin { /*Linkedin contact button*/
		width: 35px;
		height: 35px;
		margin-left: 10px;
		padding-top: 4px;
	}

	.buttons #github { /*Github contact button*/
		width: 35px;
		height: 35px;
		margin-left: 10px;
		padding-top: 4px;
	}

	.buttons #codepen { /*Codepen contact button*/
		width: 35px;
		height: 35px;
		margin-left: 10px;
		padding-top: 4px;
	}
	/*****************End Contact Window Section*****************/

	
	
	
	/*****************Start Footer*****************/
	#footer { /*Footer section*/
		background-color: rgba(0, 86, 145, 1);
	}
	
	#footer .container { /*Footer reset padding*/
		padding: 0;
	}
	
	#contact-row { /*Footer reset margin*/
		margin: 0;
	}
	
	#inputs { /*Footer contact forms parent*/
		padding: 0;
		font-size: 2.3vw;
	}
	
	.bottomInput { /*Individual footer forms*/
		width: 90%;
	}
	
	#messageEnter { /*Footer message form*/
		height: 70px;
	}
	
	#submitButton { /*Submit button*/
		margin: 0 0 10px 0;
	}

	#contact { /*Contact me blurb parent*/
		padding: 0 0 0 20px;
		margin: 0;
		font-size: 2.3vw;
		line-height: 1.2;
	}

	#contact span { /*Topics blurb*/
		font-size: 2.2vw;
	}

	#contact li { /*List of topics for contact me blurb*/
		font-size: 2.1vw;
		line-height: 1.2;
	}

	.contactInfo { /*Contact information listed parent*/
		margin: 0;
		padding-right: 40px;
	}
	
	.contactInfo li { /*Contact information listed*/
		display: inline-block;
		list-style-type: none;
		margin-right: 10px;
		font-size: 2.4vw;
		padding: 0;
	}
	
	.contactInfo a li { /*Links within the contact info section*/
		text-decoration: underline;
		text-decoration-color: white;
	}
	
	#contactHr { /*Footer contact HR*/
		width: 90%;
		height: 1px;
		background: -webkit-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,.75), rgba(255,255,255,0)); 
		background: -moz-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,.75), rgba(255,255,255,0));
		background: -ms-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,.75), rgba(255,255,255,0));
		background: -o-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,.75), rgba(255,255,255,0));
	}
	
	#contactHr:after { /*Footer HR hornet*/
		content: url(../images/hornetSmallWt.png);
		display: inline-block;
		position: relative;
		top: -9px;
		padding: 0 0 0 1px;
		background-color: rgba(0, 86, 145, 1);
	}
	
	#copyright { /*Copyright info*/
		font-size: 2.0vw;
	}
	/*****************End Footer*****************/
}