* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
	-o-box-sizing: border-box;
  box-sizing: border-box;
}

a:focus, a:visited {
  outline: none;
  text-decoration: none;
}

body { 
  padding-top: 48px; 
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.container {
  padding: 0;
}

/*Start Header*/
#topbar { /*Top Navbar*/
  background-color: #0e8466;
  border-bottom: 1px solid black;
}

#logo { /*Logo Image*/
  width: 150px;
  height: 50px;
  background: url('../images/PJLogo.jpg') no-repeat;
  margin-left: -35px;
}

.navbar-brand > h1 { /*Navbar Name*/
  margin-top: 0;
  margin-bottom: 0;
  color: white;
  font-size: 2.0em;
  font-family: 'Poiret One', sans-serif;
  font-weight: bold;
  line-height: .50;
  text-shadow: 1px 1px 1px #222;
}

.navbar-default .navbar-nav > li > a { /*Navbar Links*/
  color: white;
  font-size: 1.4em;
  font-family: 'Poiret One', sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  transition: all .5s;
}

.navbar-default .navbar-nav > li > a:hover { /*Link Hover*/
  background-color: white;
  color: #0e8466;
  text-shadow: none;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar { /*Link Dropdown*/
  border: 1px solid white;
}
/*End Header*/

/*Start Pic and Blurb*/
#imgbgrow {
  margin: 0;
}

#top-content { /*Need to come up with different sizes for media queries!*/
	background-size: 1920px 405px;
  background: url("../images/HawaiinTreeBark.jpg") no-repeat;
  background-position: center;
	margin: 0;
	padding: 0;
}

#left-topimg {
  margin: 45px 0px 50px 0px;
}

#dan-img {
  border: 5px solid white;
  border-radius: 100%;
}

#topblurb > h2 {
  margin-top: 140px;
  color: black;
  font-family: 'Poiret One', sans-serif;
  font-weight: bold;
  font-size: 5em;
  text-shadow: 2px 2px 2px white;
}

#topblurb > p {
  margin-top: -30px;
  font-size: 3.7em;
  color: white;
  font-family: cursive;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
}
/*End Profile Pic and Blurb*/

/*Start About Section*/
.sep {
	width: 100%;
	height: 12px;
	margin: 0;
	box-shadow: inset 0 12px 20px -15px darkgray;
}

.title {
	font-size: 40px;
	color: gray;
  font-family: 'Poiret One', sans-serif;
  font-weight: bold;
	text-shadow: 1px 1px 3px gray;
}

.title-hr {
	width: 500px;
	height: 1px;
	background: black;
	background: -webkit-gradient(linear, 0 0, 100% 0, from(black), to(white), color-stop(25%, #656565));
	margin-left: 15px;
}

.abtsxn {
	height: 500px;
  margin: 0;
	padding: 0;
  color: gray;
  font-family: 'Poiret One', sans-serif;
  font-weight: bold;
}

.content {
	display: block;
	float: left;
	margin-top: 0px;
	padding-top: 0;
	font-size: 1.2vw;
}

/*End About Section*/

/*Start Footer*/
#footer {
  height: auto;
  border-top: 1px solid black;
  background-color: #0e8466;
  margin: 0;
  color: white;
  font-family: 'Poiret One', sans-serif;
  font-weight: bold;
}

#contact-buttons {
  margin-top: 20px;
}

.buttons {
	display: inline-block;
	padding: 0px;
	color: white;
  text-transform: none;
	vertical-align: top;
  overflow: hidden;
  /*-webkit-font-smoothing: antialiased;*/
  /*speak: none;
  line-height: 1;*/
}

.buttons #e-mail {
  display: block;
	width: 50px;
	height: 50px;
  border: 1px solid white;
  border-radius: 50%;
  background-color: #BF2E25;
  padding-top: 8px;
  text-align: center;
  text-decoration: none;
	transition: all .5s;
}

#e-mail:hover {
  background-color: #df4f47;
}

.buttons #facebook {
  display: block;
  width: 50px;
	height: 50px;
  border: 1px solid white;
  border-radius: 50%;
  background-color: #3b5998;
  margin-left: 4px;
  padding-top: 9px;
  text-align: center;
  text-decoration: none;
	transition: all .5s;
}

#facebook:hover {
  background-color: #5d7bba;
}

.buttons #linkedin {
  display: block;
  width: 50px;
  height: 50px;
  border: 1px solid white;
  border-radius: 50%;
  background-color: #0077b5;
  margin-left: 4px;
  padding-top: 8px;
  text-align: center;
  text-decoration: none;
	transition: all .5s;
}

#linkedin:hover {
  background-color: #2299d7;
}

#github {
  display: block;
  width: 50px;
  height: 50px;
  border: 1px solid white;
  border-radius: 50%;
  background-color: #800080;
  margin-left: 4px;
  padding-top: 3px;
  text-align: center;
  text-decoration: none;
	transition: all .5s;
}

#github:hover {
  background-color: #a222a2;
}

#contact {
  float: right;
  padding: 15px;
  font-size: 1.5em;
  font-weight: normal;
}

#contact ul {
  margin-top: 5px;
}

#contact li {
  font-size: .7em;
}

#contact li:nth-child(1) {
  margin-top: 5px;
}
/*End Footer*/

/************************Large Devices************************/
@media only screen and (min-width: 1200px) {

}

/************************Medium Devices***********************/
@media only screen and (min-width: 992px) and (max-width: 1199px) {

}

/************************Small Devices************************/
@media only screen and (min-width: 768px) and (max-width: 991px) {
  #left-topimg { /*Profile Pic Box*/
    margin-top: 0px;
    margin-bottom: 35px;
  }
  #left-topimg > #dan-img { /*Profile Pic*/
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, 20%);
    -moz-transform: translate(-50%, 20%);
    -ms-transform: translate(-50%, 20%);
    -o-transform: translate(-50%, 20%);
    transform: translate(-50%, 20%);
    width: 200px;
    height: 200px;
    border-width: 3px;
  }
  #topblurb {
    text-align: center;
  }
  #topblurb h2 {
    margin-top: 0;
    margin-bottom: 0;
    background-image: none;
  }
  #topblurb p {
    margin-top: -20px;
  }
  #contact-buttons {
    margin-top: 5px;
    margin-bottom: 15px;
  }
  .buttons {
  margin-bottom: 8px
  /*-webkit-font-smoothing: antialiased;
  speak: none;
  line-height: 1;*/
  text-transform: none;
}
  #contact-buttons > .buttons {
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-210%, 20%);
    -moz-transform: translate(-210%, 20%);
    -ms-transform: translate(-210%, 20%);
    -o-transform: translate(-210%, 20%);
    transform: translate(-210%, 20%);
  }
  .buttons #e-mail {
    margin-right: 4px;
  }
  #contact-row hr {
    width: 50%;
    border: 1px solid white;
    margin-top: 30px;
  }
  #contact {
    padding: 0px 15px 0px 25px;
  }
}

/*********************Extra Small Devices*********************/
@media only screen and (max-width: 767px) {
  .container .navbar-header div > #name {
    margin-left: 10px;
  }
  .container .navbar-header #menu-toggle {
    margin-right: 27px;
  }
  div #navbar-collapse-1 {
    float: right;
    width: 50%;
  }
  .divider {
    border-bottom: 1px solid white;
  }
  #left-topimg { /*Profile Pic Box*/
    margin-top: 0px;
    margin-bottom: 35px;
  }
  #left-topimg > #dan-img { /*Profile Pic*/
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, 20%);
    -moz-transform: translate(-50%, 20%);
    -ms-transform: translate(-50%, 20%);
    -o-transform: translate(-50%, 20%);
    transform: translate(-50%, 20%);
    width: 200px;
    height: 200px;
    border-width: 3px;
  }
  #topblurb { /*Attributes Box*/
    text-align: center;
  }
  #topblurb h2 {
    background-image: none;
    margin-top: 0;
    margin-bottom: 0;
  }
  #topblurb p {
    margin-top: -20px;
  }
  #contact-buttons {
    margin-top: 5px;
    margin-bottom: 15px;
  }
  .buttons {
  padding: 0px;
  /*-webkit-font-smoothing: antialiased;
  speak: none;
  line-height: 1;*/
  text-transform: none;
}
  #contact-buttons > .buttons {
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-220%, 20%);
    -moz-transform: translate(-220%, 20%);
    -ms-transform: translate(-220%, 20%);
    -o-transform: translate(-220%, 20%);
    transform: translate(-220%, 20%);
  }
  .buttons #e-mail {
    margin-right: 4px;
  }
  #contact-row hr {
    margin-top: 30px;
    border: 1px solid white;
    width: 50%;
  }
  #contact {
    margin-top: -10px;
    padding: 0px 15px 0px 25px;
  }
}