.row,
.sep {
    width: 100%;
}

#name,
.navbar-default .navbar-nav>li>a {
    text-shadow: 1px 1px 1px #222;
    color: #fff;
}

#name,
#topblurb>h2,
#topblurb>p,
.title {
    font-weight: 700;
}

#workOvrly,
#wrkhis-pic {
    background-size: contain;
}

#wrkCls,
#wrkExpd {
    cursor: pointer;
}

.buttons,
.classInfo,
.schoolLogo {
    display: inline-block;
    vertical-align: top;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

a:focus,
a:visited {
    outline: 0;
    text-decoration: none;
}

body {
    background: url(../images/bgLarge.jpg) center no-repeat fixed;
    background-size: cover;
    padding-top: 60px;
    font-family: Sarala, sans-serif;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

#mainContent {
    background-color: #fff;
}

#topbar {
    height: 60px;
    border: none;
    background: rgba(54, 77, 127, 0);
    -webkit-transition: all .6s ease-out;
    -moz-transition: all .6s ease-out;
    -o-transition: all .6s ease-out;
    -ms-transition: all .6s ease-out;
    transition: all .6s ease-out;
}

#topbar.scrolled {
    background-color: rgba(0, 86, 145, .8);
}

#logo {
    width: 137px;
    height: 55px;
    background: url(../images/PJLogo2Nav.png) no-repeat;
    margin: 0;
}

#name {
    display: inline-block;
    margin: 20px 0 20px 270px;
    font-family: Taviraj, serif;
    font-size: 45px;
    line-height: .5;
}

.navbar-default .navbar-nav>li>a {
    width: 80px;
    height: 60px;
    padding: 20px 10px;
    font-size: 16px;
    transition: all .2s;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    border-bottom: 4px solid #fff;
    color: #fff;
}

#top-content {
    min-height: 470px;
    padding: 0;
}

#left-topimg {
    position: relative;
}

#dan-img,
#topblurb>h2,
#topblurb>p {
    position: absolute;
}

#dan-img {
    top: 90px;
    left: 150px;
    width: 300px;
    height: 300px;
    border: 5px solid #fff;
    border-radius: 100%;
    box-shadow: 1px 1px 20px #2f4f4f;
}

#topblurb>h2 {
    top: 180px;
    left: 150px;
    color: #000;
    font-size: 5em;
    font-style: italic;
    text-shadow: 2px 2px 2px #fff;
}

#topblurb>p {
    top: 265px;
    left: 220px;
    color: #fff;
    font-size: 4em;
    line-height: 1;
    text-shadow: 1px 1px 5px #222;
}

.sep {
    height: 20px;
    border: none;
    margin: 0;
    box-shadow: inset 0 12px 12px -10px #d3d3d3;
}

.title {
    font-size: 40px;
    text-shadow: 1px 1px 3px gray;
}

#contact,
#inputs,
#port-blurb,
.contactInfo li {
    font-weight: 400;
}

.title-hr {
    height: 1px;
    background-color: #000;
}

#workHistory,
#workOvrly {
    height: 500px;
    width: 100%;
}

#ed-hr,
#port-hr {
    float: right;
    width: 300px;
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    background: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.abtsxn {
    position: relative;
    color: #000;
}

#wrkExpd,
span.historyBtn span {
    color: rgba(0, 86, 145, 1);
    text-decoration-color: rgba(0, 86, 145, 1);
    text-decoration: underline;
}

#aagContent {
    padding: 15px 40px 15px 35px;
    font-size: 20px;
    font-style: italic;
}

#skills-hr {
    width: 190px;
}

#skillist {
    padding: 20px 20px 0 150px;
    background-color: #f7f9fb;
}

#skillist > p {
    margin: 5px 0 0 12px;
}

.skills > li > span {
    cursor: pointer;
}

#databaseDiv, #libraryDiv, #applicationDiv, .minus, #languages .plus {
    display: none;
}

#languages .minus {
    display: inline;
}

.statUL {
    margin-left: 100px;
}

.status {
    display: inline-block;
    text-decoration: underline;
    font-size: 2vmin;
    margin-left: 3%;
}

.skill {
    font-size: 2vmin;
    margin-bottom: 10px;
}

.skill > span {
    display: inline-block;
    width: 100px;
}

.skills {
    list-style: none;
    font-size: 2.5vmin;
    text-shadow: .1px .1px 3px lightgray;
    margin-bottom: 30px;
}

.skills ul {
    list-style: none;
}

.skills > li {
    margin: 10px 0;
}

#portSep {
    height: 1px;
    background-color: #d3d3d3;
    box-shadow: none;
}

#portfolio {
    min-height: 500px;
}

#port-title,
#portWords {
    margin-top: 15px;
}

#port-hr {
    margin: 0 15px 10px 0;
}

#port-coverflow {
    margin: 50px 0 0;
}

#port-blurb {
    padding: 20px 0 0 30px;
    font-size: 20px;
    line-height: 1.3;
}

#portPreview {
    text-align: center;
    text-decoration: underline;
}

#workHistory {
    position: relative;
    background: url(../images/datJetAss.jpg) center no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    box-shadow: 0 -12px 12px -10px #d3d3d3
}

#workOvrly {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, .73);
}

#wrkhis-title {
    margin-top: 20px;
}

#work-hr, #skills-hr {
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, .75), rgba(0, 0, 0, 0));
    background: -moz-linear-gradient(left, rgba(0, 0, 0, .75), rgba(0, 0, 0, 0));
    background: -ms-linear-gradient(left, rgba(0, 0, 0, .75), rgba(0, 0, 0, 0));
    background: -o-linear-gradient(left, rgba(0, 0, 0, .75), rgba(0, 0, 0, 0));
    margin: 0 0 0 15px;
}

#work-hr {
    width: 450px;
}

#workDates {
    margin: 10px 0;
    font-size: 14px;
}

#wrkhis-content #p1 {
    clear: left;
    font-size: 20px;
    margin: 0;
}

#readMore {
    margin-top: 5px;
    font-size: 14px;
}

#wrkhis-pic {
    position: absolute;
    top: 70px;
    right: 0;
    width: 300px;
    height: 300px;
    background-image: url(../images/300pxUSMCemblem.png)
}

#wrkhis-buttons {
    position: absolute;
    left: 0;
    bottom: 10px;
}

#wrkHrnt {
    margin: 0 0 10px;
}

span.historyBtn {
    margin: 0 70px;
}

span.historyBtn span {
    font-size: 20px;
    transition: all .2s;
}

.historyBtn:hover {
    text-shadow: 1px 1px 5px gray;
    cursor: pointer;
}

#doodyWindow {
    width: 100%;
    min-height: 200px;
    padding: 50px 5%;
    transition: all .5s;
}

#doodyContent {
    font-size: 18px;
}

#doodyWindow p {
    margin-top: 5px;
    font-size: 14px;
}

#wrkCls {
    color: #00008b;
    text-decoration: underline;
    text-decoration-color: #00008b;
}

#education {
    min-height: 700px;
}

#ed-hr {
    margin: 0 15px 0 0;
}

#ed-content {
    margin: 40px 0;
}

.school {
    margin: 20px;
    padding: 0;
    font-size: 18px;
}

.schoolHr {
    width: 100%;
    height: 1px;
    border: none;
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .75), rgba(0, 0, 0, 0));
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .75), rgba(0, 0, 0, 0));
    background: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .75), rgba(0, 0, 0, 0));
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .75), rgba(0, 0, 0, 0));
    padding: 0;
    text-align: center
}

.schoolHr:after {
    display: inline-block;
    position: relative;
    top: -17px;
    content: url(../images/hornet.png);
    background-color: #fff;
    padding: 0 0 0 5px
}

.schoolLogo {
    width: 200px;
    height: 200px;
    border: 1px solid transparent;
    margin-bottom: 15px
}

.schoolLogo:focus,
.schoolLogo:hover {
    border: 1px solid #000
}

.classInfo {
    width: 550px;
    margin: 0 0 0 50px
}

.classInfo a {
    color: rgba(0, 86, 145, 1);
    text-decoration-color: rgba(0, 86, 145, 1)
}

.classInfo>p>a {
    font-size: 24px;
    text-decoration: underline
}

.buttons #e-mail,
.buttons #facebook {
    color: #fff;
    text-align: center;
    text-decoration: none;
    transition: all .5s
}

.classInfo ul {
    margin-left: 20px;
    padding: 0
}

#contactWindow {
    width: 100%;
    min-height: 200px;
    background-color: rgba(0, 0, 0, 0)!important;
    padding: 0
}

#contact-buttons {
    width: 100%;
    margin-top: 75px
}

.buttons {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    text-transform: none;
    overflow: hidden
}

.buttons #facebook,
.buttons #linkedin {
    display: block;
    width: 50px;
    height: 50px;
    margin-left: 20px
}

.buttons #e-mail {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #BF2E25;
    padding-top: 10px
}

#e-mail:hover {
    border-radius: 50%;
    background-color: #df4f47
}

.buttons #facebook {
    background-color: #3b5998;
    padding-top: 11px;
    padding-left: 6px
}

#facebook:hover {
    border-radius: 50%;
    background-color: #5d7bba
}

.buttons #linkedin {
    background-color: #0077b5;
    padding-top: 10px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    transition: all .5s
}

#codepen,
#github {
    display: block;
    width: 50px;
    height: 50px;
    margin-left: 20px;
    padding-top: 4px;
    text-align: center;
    text-decoration: none;
    transition: all .5s;
    color: #fff
}

#linkedin:hover {
    border-radius: 50%;
    background-color: #2299d7
}

#github {
    background-color: purple
}

#github:hover {
    border-radius: 50%;
    background-color: #a222a2
}

#codepen {
    background-color: #000
}

#codepen:hover {
    border-radius: 50%;
    background-color: #333
}

#footer {
    height: auto;
    border: none;
    background-color: rgba(0, 86, 145, .8);
    margin: 0;
    color: #fff
}

#inputs {
    padding: 20px 0 0;
    color: #000
}

.bottomInput {
    width: 70%;
    border-radius: 5px;
    margin-bottom: 10px
}

#submitButton {
    border: none;
    border-radius: 5px;
    background-color: #d3d3d3;
    transition: all .2s
}

#submitButton:focus,
#submitButton:hover {
    box-shadow: 0 0 10px #add8e6
}

#contact {
    padding: 15px;
    font-size: 18px
}

#contact span {
    margin-top: 5px;
    font-size: 16px
}

#contact li {
    font-size: .9em;
    line-height: 1.6
}

#contact li:nth-child(1) {
    margin-top: 10px
}

.contactInfo {
    margin: 15px 0 0
}

.contactInfo ul {
    font-size: 25px
}

.contactInfo li {
    margin: 10px 0 0;
    font-size: 15px;
    list-style-type: none
}

.contactInfo a {
    color: #fff;
    text-decoration: underline;
    text-decoration-color: #fff
}

@media only screen and (min-width:992px) and (max-width:1199px) {
    body {
        background: url(../images/bgMedium.jpg) center no-repeat fixed;
        background-size: cover;
        padding-top: 60px
    }
    #name {
        margin: 20px 0 20px 15px;
        font-size: 43px
    }
    #atAGlance {
        padding: 0
    }
    #aagContent {
        padding: 15px 0 0 35px
    }
    #skillist {
        background-size: 750px auto
    }
    #port-blurb {
        padding: 10px 0 15px 30px
    }
    #workDates {
        margin: 10px 0 5px
    }
    span.historyBtn {
        margin: 0 50px
    }
    #doodyWindow {
        min-height: 200px;
        padding: 50px 5%;
        font-size: 18px;
        transition: all .5s
    }
    #ed-content {
        margin: 40px 0
    }
    .classInfo>p>a {
        position: relative;
        left: -95px
    }
    .bottomInput {
        width: 90%
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    #footer,
    #topbar.scrolled,
    .navbar-default .navbar-nav>li>a {
        background-color: rgba(0, 86, 145, 1)
    }
    body {
        background: url(../images/bgMedium.jpg) center no-repeat fixed;
        background-size: cover;
        padding-top: 60px
    }
    #name {
        margin: 22px 0 20px 100px;
        font-size: 35px
    }
    .navbar-header {
        float: none
    }
    .navbar-left,
    .navbar-nav,
    .navbar-right {
        float: none!important
    }
    .navbar-toggle {
        display: block
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1)
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px
    }
    .navbar-collapse.collapse {
        display: none!important
    }
    .navbar-nav {
        margin-top: 7.5px
    }
    .navbar-nav>li {
        float: none
    }
    .navbar-nav>li>a {
        width: 100%;
        height: 50px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 15px
    }
    .collapse.in {
        display: block!important
    }
    #menu-toggle {
        margin: 12px 10px 0 0
    }
    .icon-bar {
        border: 1px solid #fff
    }
    .navbar-default .navbar-nav>li>a {
        width: 98%;
        height: 50px;
        padding-top: 15px;
        font-size: 15px
    }
    .navbar-default .navbar-nav>li>a:focus,
    .navbar-default .navbar-nav>li>a:hover {
        border-bottom: 3px solid #fff
    }
    .divider {
        width: 98%;
        height: .5px;
        border: .5px solid #fff
    }
    #dan-img,
    #wrkhis-pic {
        width: 200px;
        height: 200px
    }
    #top-content {
        min-height: 430px
    }
    #dan-img {
        top: 60px;
        left: 265px;
        border: 3px solid #fff
    }
    #topblurb>h2 {
        top: 235px;
        left: 230px;
        font-size: 60px
    }
    #topblurb>p {
        top: 310px;
        left: 300px;
        font-size: 50px
    }
    .title {
        font-size: 30px
    }
    #atAGlance {
        padding: 0
    }
    #aagContent {
        padding: 10px 5px 0 35px;
        font-size: 16px
    }
    #skillist {
        background: url(../images/Skills.svg) top center no-repeat;
        background-size: 650px auto;
        margin-bottom: -60px
    }
    #port-hr {
        width: 230px
    }
    #port-coverflow {
        margin: 20px 0 0
    }
    #port-blurb {
        padding: 0 10px 10px 30px;
        font-size: 16px;
        line-height: 1.2
    }
    #workHistory {
        height: 420px
    }
    #wrkhis-title {
        margin-top: 15px
    }
    #work-hr {
        width: 300px
    }
    #workDates {
        font-size: 12px;
        margin-bottom: 5px
    }
    #wrkhis-content #p1 {
        font-size: 16px
    }
    #readMore {
        margin-top: 5px;
        font-size: 12px
    }
    #wrkhis-pic {
        top: 50px;
        right: 20px
    }
    span.historyBtn {
        margin: 0 30px
    }
    #doodyContent,
    span.historyBtn span {
        font-size: 16px
    }
    #doodyWindow p {
        font-size: 12px
    }
    #ed-hr {
        width: 250px
    }
    #ed-content {
        margin: 0
    }
    .school {
        margin: 20px 0;
        font-size: 16px
    }
    .schoolLogo {
        width: 175px;
        height: 175px
    }
    .classInfo {
        margin: 0 0 0 10px;
        width: 450px
    }
    .classInfo>p>a {
        position: relative;
        left: -65px
    }
    #inputs {
        padding: 10px 0 0 10px;
        font-size: 12px
    }
    .bottomInput {
        width: 90%
    }
    #messageEnter {
        height: 100px
    }
    #contact {
        padding: 10px;
        font-size: 16px;
        line-height: 1.3
    }
    #contact span {
        font-size: 14px
    }
    #contact li {
        font-size: .9em;
        line-height: 1.4
    }
    .contactInfo li {
        display: inline-block;
        margin: 0 30px 15px;
        font-size: 14px
    }
    .contactInfo a li {
        text-decoration: underline;
        text-decoration-color: #fff
    }
    #contactHr {
        width: 90%;
        height: 1px;
        background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, .75), rgba(255, 255, 255, 0));
        background: -moz-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, .75), rgba(255, 255, 255, 0));
        background: -ms-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, .75), rgba(255, 255, 255, 0));
        background: -o-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, .75), rgba(255, 255, 255, 0))
    }
    #contactHr:after {
        content: url(../images/hornetWt.png);
        display: inline-block;
        position: relative;
        top: -17px;
        padding: 0 0 0 5px;
        background: rgba(0, 86, 145, 1)
    }
}

@media only screen and (min-width:550px) and (max-width:767px) {
    #contactHr:after,
    #footer,
    #topbar.scrolled,
    .navbar-default .navbar-nav>li>a {
        background-color: rgba(0, 86, 145, 1)
    }
    body {
        width: 100%;
        height: auto;
        background: url(../images/bgXS.jpg) left top no-repeat;
        background-size: 767px 1000px;
        padding-top: 60px
    }
    #topbar {
        height: 55px
    }
    #name {
        margin: 20px 0 20px 35%;
        font-size: 30px
    }
    #menu-toggle {
        margin: 10px 15px 0 0
    }
    .icon-bar {
        border: 1px solid #fff
    }
    .navbar-default .navbar-nav>li>a {
        width: 100%;
        height: 50px;
        padding-top: 15px;
        font-size: 15px
    }
    #ed-hr,
    #port-hr {
        width: 230px
    }
    .divider {
        height: .5px;
        border: .5px solid #fff
    }
    #top-content {
        min-height: 410px
    }
    #dan-img {
        top: 60px;
        left: 36%;
        width: 200px;
        height: 200px;
        border: 3px solid #fff
    }
    #topblurb>h2 {
        top: 235px;
        left: 30%;
        font-size: 50px
    }
    #topblurb>p {
        top: 300px;
        left: 40%;
        font-size: 40px
    }
    .title {
        font-size: 4.1vw;
        text-shadow: .1px .1px 5px gray
    }
    #atAGlance {
        padding: 0
    }
    #aagContent {
        padding: 5px 0 0 35px;
        font-size: 16px
    }
    #skillist {
        width: 95%;
        height: auto;
        background: url(../images/Skills.svg) center no-repeat;
        background-size: contain;
        margin: -4% 0 -4% 30px
    }
    #port-coverflow {
        width: 100%;
        margin: 10px 0 0 15px
    }
    #port-blurb {
        padding: 0 0 15px 30px;
        font-weight: 400;
        line-height: 1.3
    }
    #portPreview {
        font-size: 3.5vw
    }
    #portWords {
        margin-top: 5px;
        font-size: 2vw
    }
    #workHistory {
        height: 370px
    }
    #wrkhis-title {
        margin-top: 15px
    }
    #work-hr {
        width: 300px
    }
    #workDates {
        font-size: 1.7vw
    }
    #wrkhis-content {
        width: 73%
    }
    #wrkhis-content #p1 {
        margin-top: -5px;
        font-size: 2vw
    }
    #readMore {
        margin-top: 5px;
        font-size: 1.7vw
    }
    #doodyContent,
    span.historyBtn span {
        font-size: 2vw
    }
    #wrkhis-pic {
        top: 60px;
        right: 0;
        width: 150px;
        height: 150px
    }
    #wrkhis-buttons {
        bottom: 0
    }
    span.historyBtn {
        margin: 0 20px
    }
    #doodyWindow {
        padding: 30px 5% 30px 2%;
        transition: all .5s
    }
    #doodyWindow p {
        margin-top: 0;
        font-size: 1.7vw
    }
    #ed-content {
        margin: 0
    }
    .school {
        margin: 10px 0
    }
    .schoolLogo {
        width: 150px;
        height: 150px
    }
    .classInfo>p>a {
        font-size: 3vw
    }
    .classInfo {
        margin: 0 -50px 0 15px;
        font-size: 2vw;
        max-width: 360px
    }
    #contactWindow {
        min-height: 150px
    }
    #contact-buttons {
        margin-top: 60px;
        margin-left: 15px
    }
    .buttons #e-mail {
        width: 35px;
        height: 35px;
        padding-top: 3px
    }
    .buttons #facebook {
        width: 35px;
        height: 35px;
        margin-left: 10px;
        padding-top: 11px;
        padding-left: 6px
    }
    .buttons #codepen,
    .buttons #github,
    .buttons #linkedin {
        width: 35px;
        height: 35px;
        margin-left: 10px;
        padding-top: 4px
    }
    #footer {
        padding: 0
    }
    #inputs {
        padding: 10px 0 0 20px;
        font-size: 1.7vw
    }
    .bottomInput {
        width: 90%
    }
    #messageEnter {
        height: 100px
    }
    #contact {
        padding: 10px;
        font-size: 2vw;
        line-height: 1.3
    }
    #contact span {
        font-size: 1.9vw
    }
    #contact li {
        font-size: .9em
    }
    .contactInfo li {
        display: inline-block;
        margin: 0 8px 15px;
        font-size: 1.9vw
    }
    .contactInfo a li {
        text-decoration: underline;
        text-decoration-color: #fff
    }
    #contactHr {
        width: 90%;
        height: 1px;
        background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, .75), rgba(255, 255, 255, 0));
        background: -moz-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, .75), rgba(255, 255, 255, 0));
        background: -ms-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, .75), rgba(255, 255, 255, 0));
        background: -o-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, .75), rgba(255, 255, 255, 0))
    }
    #contactHr:after {
        content: url(../images/hornetWt.png);
        display: inline-block;
        position: relative;
        top: -17px;
        padding: 0 0 0 5px
    }
    #copyright {
        font-size: 1.8vw
    }
}

@media only screen and (max-width:549px) {
    #port-title,
    #portfolio {
        padding-right: 0
    }
    #port-title,
    #wrkhis-title {
        margin-top: 10px
    }
    body {
        width: 100%;
        height: auto;
        background: url(../images/bgXS.jpg) left top no-repeat;
        background-size: 550px 800px;
        padding-top: 60px
    }
    #contactHr:after,
    #footer,
    #topbar.scrolled,
    .navbar-default .navbar-nav>li>a {
        background-color: rgba(0, 86, 145, 1)
    }
    #topbar {
        height: 55px
    }
    #name {
        margin: 20px 0 20px 23%;
        font-size: 7vw
    }
    #menu-toggle {
        margin: 10px 15px 0 0
    }
    .icon-bar {
        border: 1px solid #fff
    }
    .navbar-default .navbar-nav>li>a {
        width: 100%;
        height: 50px;
        padding-top: 15px;
        font-size: 13px
    }
    .divider {
        height: .5px;
        border: .5px solid #fff
    }
    #top-content {
        min-height: 320px
    }
    #dan-img {
        top: 30px;
        width: 200px;
        height: 200px;
        border: 3px solid #fff
    }
    #topblurb>h2 {
        position: absolute;
        top: 215px;
        left: 28%;
        font-size: 7vw
    }
    #topblurb>p {
        top: 263px;
        left: 38%;
        font-size: 6.1vw
    }
    .title {
        font-size: 20px;
        text-shadow: none
    }
    #atAGlance {
        min-height: 250px;
        padding: 0 0 0 30px
    }
    #aagContent {
        margin: 0;
        padding: 0;
        font-size: 2.3vw;
        text-align: center
    }
    #skillist {
        width: 100%;
        height: auto;
        background: url(../images/Skills.svg) center no-repeat;
        background-size: contain;
        margin: -15% 0
    }
    #portfolio {
        min-height: 350px
    }
    #port-hr {
        width: 140px;
        margin: 0 0 15px
    }
    #port-coverflow {
        width: 100%;
        margin: 0 15px;
        padding: 0
    }
    #port-blurb {
        padding: 0 0 10px 15px
    }
    #portPreview {
        font-size: 14px
    }
    #portWords {
        margin-top: 0;
        font-size: 2.3vw
    }
    #workHistory {
        height: 320px
    }
    #work-hr {
        width: 190px
    }
    #workDates {
        margin: 5px 0 7px;
        font-size: 2.1vw
    }
    #wrkhis-content #p1 {
        margin-top: -5px;
        font-size: 2.5vw;
        line-height: 1.2
    }
    #readMore {
        margin-top: 5px;
        font-size: 2.1vw
    }
    #doodyContent,
    span.historyBtn span {
        font-size: 2.3vw
    }
    #wrkhis-pic {
        top: 65px;
        right: 0;
        width: 90px;
        height: 90px
    }
    span.historyBtn {
        margin: 0 1%
    }
    #wrkHrnt {
        width: 15px;
        height: 15px;
        margin-bottom: 2px
    }
    #doodyWindow {
        min-height: 100px;
        padding: 15px 5% 15px 2%;
        transition: all .5s
    }
    #doodyWindow p {
        margin-top: 0;
        font-size: 2.1vw
    }
    #ed-cont {
        padding: 0 20px 0 0
    }
    #education {
        min-height: 400px;
        margin: -5px 0 0
    }
    #ed-title {
        margin-right: 0;
        padding: 0
    }
    #ed-hr {
        width: 150px;
        margin-right: 0;
        margin-bottom: 10px
    }
    #ed-content,
    .school {
        margin: 0
    }
    .school {
        padding: 0;
        font-size: 16px
    }
    .schoolLogo {
        width: 70px;
        height: 70px;
        margin-bottom: 10px
    }
    .classInfo>p>a {
        font-size: 3vw
    }
    #contact,
    #inputs,
    .classInfo {
        font-size: 2.3vw
    }
    .classInfo {
        width: 80%;
        margin: 0 -50px 0 5px
    }
    .schoolHr {
        margin: 10px
    }
    .schoolHr:after {
        top: -7px;
        padding: 0 0 0 1px;
        content: url(../images/hornetSmall.png)
    }
    #contactWindow {
        min-height: 120px
    }
    #contact-buttons {
        margin-top: 43px;
        margin-left: 15px
    }
    .buttons #e-mail {
        width: 35px;
        height: 35px;
        padding-top: 3px
    }
    .buttons #facebook {
        width: 35px;
        height: 35px;
        margin-left: 10px;
        padding-top: 11px;
        padding-left: 6px
    }
    .buttons #codepen,
    .buttons #github,
    .buttons #linkedin {
        width: 35px;
        height: 35px;
        margin-left: 10px;
        padding-top: 4px
    }
    #footer .container,
    #inputs {
        padding: 0
    }
    #contact-row {
        margin: 0
    }
    .bottomInput {
        width: 90%
    }
    #messageEnter {
        height: 70px
    }
    #submitButton {
        margin: 0 0 10px
    }
    #contact {
        padding: 0 0 0 20px;
        margin: 0;
        line-height: 1.2
    }
    #contact span {
        font-size: 2.2vw
    }
    #contact li {
        font-size: 2.1vw;
        line-height: 1.2
    }
    .contactInfo {
        margin: 0;
        padding-right: 40px
    }
    .contactInfo li {
        display: inline-block;
        list-style-type: none;
        margin-right: 10px;
        font-size: 2.4vw;
        padding: 0
    }
    .contactInfo a li {
        text-decoration: underline;
        text-decoration-color: #fff
    }
    #contactHr {
        width: 90%;
        height: 1px;
        background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, .75), rgba(255, 255, 255, 0));
        background: -moz-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, .75), rgba(255, 255, 255, 0));
        background: -ms-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, .75), rgba(255, 255, 255, 0));
        background: -o-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, .75), rgba(255, 255, 255, 0))
    }
    #contactHr:after {
        content: url(../images/hornetSmallWt.png);
        display: inline-block;
        position: relative;
        top: -9px;
        padding: 0 0 0 1px
    }
    #copyright {
        font-size: 2vw
    }
}
