* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

a:focus, a:visited {
  outline: none;
  text-decoration: none;
}

body { 
  padding-top: 50px; 
}

.container {
  padding: 0;
}

/*Start Header*/
#topbar { /*Top Navbar*/
  background-color: #0e8466;
  border-bottom: 1px solid black;
}

#logo { /*Logo Image*/
  background: url('../images/PJLogo.jpg') no-repeat;
  width: 150px;
  height: 50px;
  margin-left: -35px;
}

.navbar-brand > h1 { /*Navbar Name*/
  font-family: 'Poiret One', cursive;
  font-style: cursive;
  font-weight: bold;
  font-size: 2.0em;
  color: white;
  text-shadow: 1px 1px 1px #222;
  line-height: .50;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.navbar-default .navbar-nav > li > a { /*Navbar Links*/
  color: white;
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  font-size: 1.4em;
  text-shadow: 1px 1px 1px #222;
}

.navbar-default .navbar-nav > li > a:hover { /*Link Hover*/
  color: #0e8466;
  background-color: white;
  text-shadow: none;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar { /*Link Dropdown*/
  border: 1px solid white;
}
/*End Header*/

/*Start Pic and Blurb*/
#imgbgrow {
  margin: 0;
}

#top-content {
  background: url("../images/HawaiinTreeBark.jpg") no-repeat;
  height: 400px;
}

#left-topimg {
  margin: 45px 0px 50px 0px;
}

#dan-img {
  border: 5px solid white;
  border-radius: 100%;
}

#topblurb > h2 {
  color: black;
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  font-size: 5em;
  margin-top: 140px;
  text-shadow: 2px 2px 2px white;
}

#topblurb > p {
  color: white;
  font-family: cursive;
  font-weight: bold;
  font-size: 3.7em;
  margin-top: -30px;
  text-shadow: 1px 1px 1px #222;
}
/*End Profile Pic and Blurb*/

/*Start About Section*/
#portfolio {
  margin-top: -6px;
  font-size: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid gray;
  color: gray;
  font-family: 'Poiret One', cursive;
  font-weight: bold;
}

#workhistory {
  color: white;
  margin-top: -6px;
  font-size: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  background-color: gray;
  font-family: 'Poiret One', cursive;
  font-weight: bold;
}

#education {
  margin-top: -6px;
  font-size: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  color: gray;
  font-family: 'Poiret One', cursive;
  font-weight: bold;
}

#awards {
  color: white;
  margin-top: -6px;
  font-size: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  background-color: gray;
  font-family: 'Poiret One', cursive;
  font-weight: bold;
}
/*End About Section*/

/*Start Footer*/
#footer {
  height: auto;
  margin: 0;
  background-color: #0e8466;
  border-top: 1px solid black;
  color: white;
  font-family: 'Poiret One', cursive;
  font-weight: bold;
}

#contact-buttons {
  margin-top: 20px;
}

.buttons {
  overflow: hidden;
  display: inline-block;
  padding: 0px;
  margin-bottom: 8px
    -webkit-font-smoothing: antialiased;
  speak: none;
  line-height: 1;
  text-transform: none;
}

.buttons #e-mail {
  display: block;
  text-align: center;
  height: 50px;
  width: 50px;
  padding-top: 8px;
  border: 1px solid white;
  border-radius: 50%;
  background-color: #BF2E25;
  text-decoration: none;
  color: white;
}

#e-mail:hover {
  background-color: #df4f47;
}

.buttons #facebook {
  margin-left: 4px;
  display: block;
  text-align: center;
  height: 50px;
  width: 50px;
  padding-top: 9px;
  border: 1px solid white;
  border-radius: 50%;
  background-color: #3b5998;
  text-decoration: none;
  color: white;
}

#facebook:hover {
  background-color: #5d7bba;
}

.buttons #linkedin {
  margin-left: 4px;
  display: block;
  text-align: center;
  height: 50px;
  width: 50px;
  padding-top: 8px;
  border: 1px solid white;
  border-radius: 50%;
  background-color: #0077b5;
  text-decoration: none;
  color: white;
}

#linkedin:hover {
  background-color: #2299d7;
}

#github {
  margin-left: 4px;
  display: block;
  text-align: center;
  height: 50px;
  width: 50px;
  padding-top: 3px;
  border: 1px solid white;
  border-radius: 50%;
  background-color: #800080;
  text-decoration: none;
  color: white;
}

#github:hover {
  background-color: #a222a2;
}

#contact {
  padding: 15px;
  float: right;
  font-size: 1.25em;
  font-weight: normal;
}
/*End Footer*/

/************************Large Devices************************/
@media only screen and (min-width: 1200px) {

}

/************************Medium Devices***********************/
@media only screen and (min-width: 992px) and (max-width: 1199px) {

}

/************************Small Devices************************/
@media only screen and (min-width: 768px) and (max-width: 991px) {
  #left-topimg { /*Profile Pic Box*/
    margin-top: 0px;
    margin-bottom: 35px;
  }
  #left-topimg > #dan-img { /*Profile Pic*/
    position: relative;
    border-width: 3px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, 20%);
    -moz-transform: translate(-50%, 20%);
    -ms-transform: translate(-50%, 20%);
    -o-transform: translate(-50%, 20%);
    transform: translate(-50%, 20%);
    height: 200px;
    width: 200px;
  }
  #topblurb {
    text-align: center;
  }
  #topblurb h2 {
    color: black;
    background-image: none;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
  }
  #topblurb p {
    margin-top: -20px;
  }
  #portfolio {
    margin-top: 0;
  }
  #contact-buttons {
    margin-top: 5px;
    margin-bottom: 15px;
  }
  #contact-buttons > .buttons {
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-210%, 20%);
    -moz-transform: translate(-210%, 20%);
    -ms-transform: translate(-210%, 20%);
    -o-transform: translate(-210%, 20%);
    transform: translate(-210%, 20%);
  }
  .buttons #e-mail {
    margin-right: 4px;
  }
  #contact {
    padding: 0px 15px 0px 25px;
  }
}

/*********************Extra Small Devices*********************/
@media only screen and (max-width: 767px) {
  #left-topimg { /*Profile Pic Box*/
    margin-top: 0px;
    margin-bottom: 35px;
  }
  #left-topimg > #dan-img { /*Profile Pic*/
    position: relative;
    border-width: 3px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, 20%);
    -moz-transform: translate(-50%, 20%);
    -ms-transform: translate(-50%, 20%);
    -o-transform: translate(-50%, 20%);
    transform: translate(-50%, 20%);
    height: 200px;
    width: 200px;
  }
  #topblurb { /*Attributes Box*/
    text-align: center;
  }
  #topblurb h2 {
    color: black;
    background-image: none;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
  }
  #topblurb p {
    margin-top: -20px;
  }
  #portfolio {
    margin-top: 0;
  }
  #contact-buttons {
    margin-top: 5px;
    margin-bottom: 15px;
  }
  #contact-buttons > .buttons {
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-220%, 20%);
    -moz-transform: translate(-220%, 20%);
    -ms-transform: translate(-220%, 20%);
    -o-transform: translate(-220%, 20%);
    transform: translate(-220%, 20%);
  }
  .buttons #e-mail {
    margin-right: 4px;
  }
  #contact {
    padding: 0px 15px 0px 25px;
  }
}